.cy_whatsapp_web{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0088cc;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
}

.cy-icon{
	margin-top:-60px;
	color: white;
}

.fa-whatsapp {
    color:#FFF;
}
